{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Войти в аккаунт RESSSUME {% endblock %}
{%  block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success container-fluid">Войти</button>
            </div>
            <div class="col">
                <a href={%  url 'signup' %}>Зарегистрироваться</a>
            </div>
        </div>
    </form>
{% endblock %}